/BodyType.class
/MessageBody.class
/Message.class
/MessageEnveloppe.class
/ServiceRegistration.class
/InviteRegistration.class
/Invitation.class
/Attachement.class
/Address.class
/Hex.class
/ServiceDocument.class
/ServiceAttestation.class
/DestinationType.class
/AssertionMetadata.class
/AttestationEntry.class
/AttestationDetail.class
